snippet todo "ThingsTo do" b 
<!-- TODO: `echo $USER` ${1:description} `!v strftime("%c")` -->
endsnippet


snippet author "Description" b
/*
 * `!p snip.rv=snip.fn`
 *
 *  Created on:`!v strftime("%c")` 
 *      Author: greatwing - mor.zusmann@gmail.com
 */
endsnippet
